<template>
  <main class="home">
    <div class="group">
      <section class="home__form">
        <!-- Module Input -->
        <module-input
          :options="{
            name: 'station-input',
            type: 'text',
            placeholder: 'Search by Station Name'
          }"
          @emit-model="getStationName($event)"
        />

        <!-- Module Input -->
        <module-input
          :options="{
            name: 'station-input',
            type: 'number',
            max: 99,
            placeholder: 'Search by Available Bikes Quantity'
          }"
          @emit-model="getBikesQty($event)"
        />
      </section>

      <ui-loader
        v-if="!dataLoaded"
      />

      <!-- Module List -->
      <module-list
        v-if="dataLoaded"
        :rows="searchResult"
        :state="searchResult.length > 0"
      />

      <transition name="slide-top-tr">
        <div
          v-if="searchResult.length === 0"
          class="home__msg"
        >
          <h3>No Results Found</h3>
        </div>
      </transition>
    </div>
  </main>
</template>

<script>
// Vuex
import { mapGetters, mapActions } from 'vuex';

// Export
export default {
  name: 'Home',

  // Components
  components: {
    // Uis
    UiLoader: () => import('@/components/Loader'),
    // Modules
    ModuleList: () => import('@/components/List'),
    ModuleInput: () => import('@/components/Input'),
  },

  // Data
  data: () => ({
    stationName: null,
    bikesQty: null,
    //
    states: [],
    iter1: [],
    iter2: [],
    //
    dataLoaded: false,
  }),

  // Computed
  computed: {
    ...mapGetters('data', [
      'stationsList',
      'bikesList',
      'flexSearch',
    ]),
    //
    newData() {
      const data = [];
      const bikes = this.bikesList.filter((bike) => this.stationsList.some((station) => station.station_id === bike.station_id));
      this.stationsList.forEach((item, i) => {
        if (item.station_id === bikes[i].station_id) {
          data.push({
            stationID: item.station_id,
            stationName: item.name,
            availableBikes: bikes[i].num_bikes_available,
          });
        }
      });
      return data;
    },

    searchResult() {
      // Init
      let list = this.newData;

      const rule = this.removeDuplicate(this.states, 'type');
      // console.log(rule);

      if (rule.length > 0) {
        list = this.searchLogic(rule, list);
      }

      return list;
    },
  },

  // LifeCycle
  mounted() {
    this.requestStations()
      .then(() => {
        this.requestBikes()
          .then(() => {
            this.dataLoaded = true;
          });
      });
  },

  // Methods
  methods: {
    ...mapActions('data', [
      'requestStations',
      'requestBikes',
      'requestSaveSearch',
    ]),
    // Cleaner
    removeDuplicate(arr, key) {
      return [...new Map(arr.map((item) => [item[key], item])).values()];
    },
    // ---------------------------
    // Emitted data
    // ---------------------------
    getStationName(e) {
      // Store search string
      this.requestSaveSearch(e);
      //
      if (this.flexSearch !== null || this.flexSearch !== '') {
        this.pushStates('name', this.flexSearch);
      }

      if ((this.flexSearch === null || this.flexSearch === '') && this.states.length > 0) {
        this.states = this.filterName(this.states, 'name');
      }
    },

    getBikesQty(e) {
      if (e !== null) {
        this.bikesQty = e;
        this.pushStates('qty', this.bikesQty);
      }

      if ((e === null || e === '') && this.states.length > 0) {
        this.states = this.filterName(this.states, 'qty');
      }
    },

    filterName(arr, type) {
      const data = arr.filter((item) => item.type !== type);
      return data;
    },

    pushStates(myType, myVal) {
      this.states.push({
        type: myType,
        value: myVal,
      });
    },
    // ---------------------------
    // Helpers
    // ---------------------------
    searchLogic(arr, list) {
      let data = list;

      if (arr.length === 1) {
        this.iter1 = this.pickFilter(arr[0], data);
        data = this.iter1;
      }

      if (arr.length === 2) {
        this.iter2 = this.pickFilter(arr[1], this.iter1);
        data = this.iter2;
      }

      return data;
    },

    pickFilter(obj, list) {
      let data;
      if (obj.type === 'name') {
        data = this.filterStations(list, obj.value);
      }

      if (obj.type === 'qty') {
        data = this.filterQty(list, obj.value);
      }

      return data;
    },

    filterStations(arr, str) {
      const list = arr.filter((item) => item.stationName.toLowerCase().includes(str.toLowerCase()));
      return list;
    },

    filterQty(arr, qty) {
      let list;
      if (arr && qty) {
        list = arr.filter((item) => item.availableBikes >= qty);
      }
      return list;
    },
  },
};
</script>

<style lang="scss">
.home {
  padding: $page-padding 0;

  &__form {
    @include flexbox(center, space-between);
    //
    margin-bottom: rem(20);

    .input {
      width: 49.5% !important;
    }
  }

  &__msg {
    @include flexbox(center, center);
  }
}
</style>
