<template>
  <input
    :id="options.name"
    v-model="myModel"
    :type="options.type"
    :name="options.name"
    autocomplete="off"
    :placeholder="options.placeholder"
    required
    :max="options.max"
    class="input"
    @input="emitModel"
  >
</template>

<script>
// Export
export default {
  name: 'ModuleInput',

  // Props
  props: {
    options: {
      type: Object,
      default: Object,
    },
  },

  // Data
  data: () => ({
    myModel: null,
  }),

  // Methods
  methods: {
    emitModel() {
      if (this.options.type === 'number') {
        if (this.myModel.length > 2) {
          this.myModel = this.myModel.slice(0, 2);
        }
      }

      this.$emit('emit-model', this.myModel);
    },
  },
};
</script>

<style lang="scss" scoped>
.input {
  background: $white;
  transition: $transition;
  border-radius: $b-radius;
  border: 2px solid $border;

  //
  outline: 0;
  width: 100%;
  height: rem(48);
  line-height: rem(24);
  padding: rem(12) rem(16);
  //
  @include font-sizes(14, 16);

  &:focus {
    border: 2px solid $mauve !important;
  }
}
</style>
