<template>
  <article class="list">
    <h2 class="list__title">
      Stations with available bikes: <span>{{ rows.length }}</span>
    </h2>
    <!-- Header -->
    <div class="list__header">
      <span
        v-for="(item, index) in header"
        :key="`head-${index}`"
        class="list__cell list__head"
      >
        {{ item }}
      </span>
    </div>

    <!-- Rows -->
    <div v-if="state">
      <transition-group name="slide-right-tr">
        <div
          v-for="(item, index) in rows"
          :key="`row-${index}`"
          class="list__row"
        >
          <span class="list__cell">{{ item.stationID }}</span>
          <span class="list__cell">{{ item.stationName }}</span>
          <span class="list__cell">{{ item.availableBikes }}</span>
        </div>
      </transition-group>
    </div>
  </article>
</template>

<script>
// Export
export default {
  name: 'ModuleList',

  // Props
  props: {
    rows: {
      type: Array,
      default: Array,
    },
    state: {
      type: Boolean,
      default: Boolean,
    },
  },

  // Data
  data: () => ({
    header: [
      'Station ID',
      'Station Name',
      'Available Bikes',
    ],
  }),
};
</script>

<style lang="scss" scoped>
.list {
  @include font-sizes(14, 16);

  &__header {
    @include flexbox(center, space-between);
    //
    background: $midnight;
    margin-bottom: rem(5);

    .list__cell {
      font-weight: $font-weight-bold;
      @include font-sizes(14, 18);
    }
  }

  &__head,
  &__row {
    padding: rem(5);
  }

  &__row,
  &__header {
    border-radius: $b-radius;
  }

  &__row {
    @include flexbox(center, space-between);
    //
    border: 1px solid $slate;
    transition: $transition;

    &:not(:first-child) {
      margin-top: rem(5);
    }

    &:hover {
      background: $mariner;
      color: $white;
      cursor: pointer;
      border: 1px solid $midnight;
    }

    .list__cell {

      &:last-child {
        font-weight: $font-weight-bold;
      }
    }
  }

  &__head {
    color: $white;
  }

  &__cell {
    width: 33.33%;

    &:last-child {
      @include flexbox(center, center);
    }
  }

  &__title {
    font-weight: $font-weight-light;

    span {
      font-weight: $font-weight-bold;
      color: $lime;
    }
  }
}
</style>
