body {
  margin: 0;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

* {
  box-sizing: border-box !important;
  font-family: 'Montserrat', sans-serif;
}

input::placeholder {
  color: $grey;
}

.group {
  width: 90%;
  margin: 0 auto;
  max-width: rem(1400);
}
