.slide-right-tr{
  backface-visibility: hidden;
  z-index: 1;

  &-enter-active {
    //Appearing
    transition: all $transition;
  }

  &-leave-active {
    // disappear
    transition: all $transition;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateX(10px);
  }

  &-leave-to {
    transform: translateX(10px);
  }
}

.slide-top-tr{
  backface-visibility: hidden;
  z-index: 1;

  &-enter-active {
    //Appearing
    transition: all $transition;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateY(10px);
  }

  &-leave-to {
    transform: translateY(10px);
  }
}
