// -----------------------------------------------------
// Colour
// -----------------------------------------------------

$black          : #000000;
$white          : #FFFFFF;
$grey           : #AFAFAF;
$nero           : rgba(38,38,38,0.72);
$border			    :	#efefef;
//
$mauve 			    : #884d5d;
$calypso        : #283589;
$mariner        : #3284d5;
$lime           : #FFA300;
$mint           : #00AB8E;
$aqua           : #59cbe8;
$slate          : #2B2B2B;
$midnight       : #1D2B62;


// -----------------------------------------------------
// Fonts
// -----------------------------------------------------

$font-default-size    : 16;
//
$font-weight-light    : 300;
$font-weight-reg      : 400;
$font-weight-med      : 500;
$font-weight-mi-bold  : 600;
$font-weight-bold     : 700;

// -----------------------------------------------------
// Styling
// -----------------------------------------------------

$b-radius: rem(2);
$page-padding: rem(30);

// -----------------------------------------------------
// TRANSITION
// -----------------------------------------------------

$easeInQuad   : cubic-bezier(0.55, 0.085, 0.68, 0.53);

$timing       : 0.2s;
$ease         : $easeInQuad;
$transition   : $timing $ease;


$base-dynamic-type: 1124;

$breakpoints: (
  xxs: 16 * 16, //  256
  xs:  32 * 16, //  512
  s:   48 * 16, //  768
  m:   64 * 16, // 1024
  l:   96 * 16, // 1536
  xl: 102 * 16, // 1632
);

$tweakpoints: (
  // Base
  base-dynamic-type: $base-dynamic-type,
);
