// -----------------------------------------------------
// Break/tweakpoint size functions
// -----------------------------------------------------

@function bp($v) {
  @return map-get($breakpoints, $v);
}

@function tp($v) {
  @return map-get($tweakpoints, $v);
}


// -----------------------------------------------------
// Rem size function
// -----------------------------------------------------

@function rem($target, $content: $font-default-size) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $content + 0rem;
}


// -----------------------------------------------------
// Font Sizes Function
// -----------------------------------------------------

@mixin font-sizes($small, $big: 100, $min: 0) {

  $breaks: bp(s), bp(m), tp(base-dynamic-type);

  $step: ($big - $small) / length($breaks);

  font-size: rem(if($small >= $min, $small, $min));

  @for $i from 1 through length($breaks) {
    $break: nth($breaks, $i);
    $modifier: $small + ($i * $step);

    @if ($modifier > $min) {

      @include min-width($break) {
        font-size: floor(rem($modifier) * 16) / 16;
      }
    }
  }
}
